//-
    name: aboutme
    description: Markup for the aboutme block
    arguments:
        - {object} props - block properties

mixin aboutme(data = {})
    .aboutme&attributes(attributes)
                    img.aboutme__img(src= data.img alt="bodybuilder")
                    .aboutme__infoCower
                        +icon('image')
                        .aboutme__subtitle= data.subtitle
                        .aboutme__title= data.title
                        .aboutme__autorCower
                            .aboutme__autor= data.autor
                            .aboutme__date= data.date
                        .aboutme__information= data.information

