//-
    name: footer
    description: Markup for the footer block
    arguments:
        - {object} props - block properties

mixin footer(data = {})
    .footer&attributes(attributes)
        .container
            .row
                each item in data
                    .col-sm-12.col-md-6.col-lg-3
                        if (item.title == 'About Blog')
                            h3.footer__title= item.title
                            p.footer__description= item.description
                            img.footer__img(src= item.img)
                        if (item.title == 'latest tweets')
                            h3.footer__title= item.title
                            a.footer__tweeterLink(href="#")
                                p.footer__subtitle= item.subtitle
                                p.footer__description= item.description
                            a.footer__tweeterLink(href="#")
                                p.footer__subtitle= item.subtitle
                                p.footer__description2= item.description2
                        if (item.title == 'Follow me instagram')
                            h3.footer__title= item.title
                            .footer__imgGalery
                                a.footer__imgGaleryLink(href="#")
                                    img.footer__galeryItem(src= item.slide1)
                                a.footer__imgGaleryLink(href="#")
                                    img.footer__galeryItem(src= item.slide2)
                                a.footer__imgGaleryLink(href="#")
                                    img.footer__galeryItem(src= item.slide3)
                                a.footer__imgGaleryLink(href="#")
                                    img.footer__galeryItem(src= item.slide4)
                                a.footer__imgGaleryLink(href="#")
                                    img.footer__galeryItem(src= item.slide5)
                                a.footer__imgGaleryLink(href="#")
                                    img.footer__galeryItem(src= item.slide6)
                        if (item.title == 'latest comment')
                            h3.footer__title= item.title
                            p.footer__autor= item.autorAlex
                            p.footer__comment= item.commentAlex
                            hr
                            p.footer__autor= item.autorJohn
                            p.footer__comment= item.commentJohn
